.navbar {
    border: 1px solid rgba(0, 0, 0, 0.35);
    border-width: 0px 0px 2px 0px;

    z-index: 100;
    position: relative;
}

.card-img-top{
    -webkit-box-shadow: 1px 1px 10px -1px rgba(0,0,0,0.79);
    -moz-box-shadow: 1px 1px 10px -1px rgba(0,0,0,0.79);
    box-shadow: 1px 1px 10px -1px rgba(0,0,0,0.79);
}

.bg-light {
    background-color: rgba(0, 0, 0, 0.4) !important;
}

.gpic_subbanner {
    padding: 20px !important;
    background-color: rgba(29, 77, 170, 0.77);
    color: white;
    border-radius: 0px;

    z-index: 100;
    position: relative;
}

.float-right svg {
    font-size: 30px;
    color: white;
}

.container h1 {
    text-shadow: 0px 5px 5px rgb(0, 0, 0);
}

/* .pic_nb{
    display: inline-block;
    background-color: rgba(49, 49, 49, 0.57);
    padding: 5px 7px;
    border-radius: 0px 5px 5px 0px;
    text-align: center;
    margin: -8px;
    border: 1px solid #2f2f2f;
}

.pic_nb_set {
    display: inline-block;
    background-color: rgba(255, 167, 0, 0.57);
    padding: 5px 7px;
    border-radius: 5px 0px 0px 5px;
    text-align: center;
    border: 1px solid #2f2f2f;
    border-width: 1px 0px 1px 1px;
} */

.col-md-auto{
    transition: all 0.5s ease-out;
    transform: scale(1);
    cursor:pointer;
}

.col-md-auto:hover{
    transition: all 0.5s ease-out;
    transform: scale(1.1);
}

.gpic_img {
    width: 22rem;
}

.gpic_img img {
    border-radius: 3px;
    /* filter: saturate(100%); */
    transition: all 0.5s ease-out;
    /* width: 22rem; */
}

.gpic_img:hover img {
    /* filter: saturate(150%) !important; */
    transition: all 0.5s ease-out;
}

.gpic_img .card-body {
    opacity:0;
    transition: all 0.5s ease-out;
    background-color: rgba(0, 0, 0, 0.49);
    padding: 5px;
    position: absolute;
    bottom: 0px;
    width: 100%;
    color: white;
    height: 2rem;
    border-radius: 3px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
}

.gpic_img:hover .card-body {
    opacity: 1;
    transition: all 0.5s ease-out;
}

.progressive,.progressive:hover {
    transition: all 0.5s ease-out;
}

.gpic_img .card-title {
    font-size: 15px;
}

.gpic_img .card-body2 {
    /* opacity: 0; */
    transition: all 0.5s ease-out;
    background-color: rgba(0, 0, 0, 0.49);
    padding: 12px;
    position: absolute;
    top: 0px;
    width: 100%;
    color: white;
    height: 0%;
    border-radius: 3px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
}

.gpic_img:hover .card-body2 {
    opacity: 1;
    transition: all 0.5s ease-out;
    background-color: rgba(0, 0, 0, 0.51) !important;
}

.gpic_img .card-title2 {
    font-size: 20px;
    font-weight: 700;
}

.followme {
    display: inline-block;
    background-color: rgba(0, 0, 0, 0.35);
    color:white;
    padding: 7px;
    border-radius: 0px 0px 10px 10px;
    position: fixed;
    z-index: 1000;
    top: 0px;

    margin-left: -100px;
    left: 50%;
}

.followme h2 {
    display:inline-block;
    vertical-align: middle;
    font-size: 20px;
}

.followme img {
    transition: all 0.5s ease-out;
    width: 40px;
    display:inline-block;
    filter: grayscale(65%);
    filter: saturate(0%);
}

.followme img:hover {
    transition: all 0.5s ease-out;
    filter: grayscale(0%);
    filter: saturate(150%);
}

/* PIC.PHP */

.main_img_view {
    /* background-color: rgba(100, 100, 100, 0.79); */
    padding: 5px;
    display: inline-block;
    width: 100%;
}

.img_view {
    margin: 25px;
    width: 55%;
    display: inline-block;
}

.img_view img {
    vertical-align: middle;
    border-style: none;
    border-radius: 5px;

    -webkit-box-shadow: 1px 1px 10px -1px rgba(0,0,0,0.79);
    -moz-box-shadow: 1px 1px 10px -1px rgba(0,0,0,0.79);
    box-shadow: 1px 1px 10px -1px rgba(0,0,0,0.79);
}

figure.containerZoom {
    -webkit-box-shadow: 1px 1px 10px -1px rgba(0,0,0,0.79);
    -moz-box-shadow: 1px 1px 10px -1px rgba(0,0,0,0.79);
    box-shadow: 1px 1px 10px -1px rgba(0,0,0,0.79);
    border-radius: 5px;
}

.exif_view {
    background-color: rgba(0, 0, 0, 0.64);
    height: 14.5rem;
    right: 0px;
    padding: 16px;
    border-radius: 10px 0px 0px 10px;
    color: white;
    display: inline-block;
    position: fixed;
    width: 20rem;

    margin-top: -100px;
    top: 50%;
}

.exif_infos h2 {
    text-align: center;
}

.exif_infos {
    font-size: 13px;
    font-weight: 600;
}

.exif_infos td {
    text-align: left;
}

hr {
    border: 1px solid white;
}

.exif_infos svg {
    width: auto;
    height: 35px;
}

.pic_info_view {
    background-color: rgba(0, 0, 0, 0.64);
    height: 100%;
    right: 0px;
    padding: 16px;
    border-radius: 5px;
    color: white;
    font-size: 13px;
    margin: 10px 0px -5px 0px;
    width: 55%;

    -webkit-box-shadow: 1px 1px 10px -1px rgba(0,0,0,0.79);
    -moz-box-shadow: 1px 1px 10px -1px rgba(0,0,0,0.79);
    box-shadow: 1px 1px 10px -1px rgba(0,0,0,0.79);

    text-align: left;
}

.pic_info_view h2 {
    text-align: center;
}

.open_link {
    background-color: rgba(2, 2, 2, 0.41);
    padding: 12px;
    border-radius: 0px 0px 10px 10px;
    position: fixed;
    top: 0px;
    z-index:10000;

    left:50%;
    margin-left: -100px;
}

.open_link img {
    width: 3rem;
    transition: all 0.5s ease-out;
    filter: grayscale(65%);
}

.open_link img:hover {
    transition: all 0.5s ease-out;
    filter: grayscale(0%);
}

.open_link h3 {
    display: inline-block;
    color: white;
    margin: 0px 9px;
    vertical-align: -4px;
}

footer{
    background-color: #343a40 !important;
    padding: 26px;
    color: white !important;
    z-index: 10000;
    position: fixed;
    bottom: 0px;
    width: 100%;
}

.prev_btn {
    display: inline-block;
    background-color: rgba(0, 0, 0, 0.51);
    padding: 0px 10px 10px 10px;
    border-radius: 10px;
    font-size: 35px;
    margin: -30px;
    position: relative;
    right: 15px;
    top: -20px;
}

.prev_btn a,.next_btn a{
    color:white;
    transition: all 1.5s ease-out;
}

.prev_btn a:hover,.next_btn a:hover{
    color:rgba(29, 77, 170, 0.77);
    transition: all 0.3s ease-out;
}

.next_btn {
    display: inline-block;
    background-color: rgba(0, 0, 0, 0.51);
    padding: 0px 10px 10px 10px;
    border-radius: 10px;
    font-size: 35px;
    margin: -30px;
    position: relative;
    left: 15px;
}

.blur {
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: -1000;
    filter: blur(5px) grayscale(100%);
    background-repeat: no-repeat;

    background-attachment: fixed;
}